doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset="UTF-8")
		title Barber Shop
		link(rel="stylesheet", href="css/main.css")
	body
		//- HEADER
		section.header
			div.header__top
				div
					button.header__btn-menu.btn.btn-secondary Menu
				div
					div.header__socials
						div
							a.header__socials-facebook(href="#")
						div
							a.header__socials-twitter(href="#")
						div
							a.header__socials-google-plus(href="#")
						div
							a.header__socials-instagram(href="#")
						div
							a.header__socials-pinterest(href="#")
			div.header__logo
				div
					a(href="#")
						img(src="img/logo.png", alt="")
			div.header__bottom
				div.header__bottom-block
					div
						h4 Hours
						p Monday Throung
						p Saturday 11 am - 9 pm
						p Sanday 11 am - 8 pm
				div.header__bottom-block
					div
						h4 Call us
						h3 125-500-7895
						h4 For booking
				div.header__bottom-block
					div
						h4 Address
						p 123, New York
						p Street avenue
						p D.56025
			div.header__rhomb.paroller-item
			div.header__circle.paroller-item
		//- HEADER

		//- WELCOME
		section.welcome
			div.welcome__image
				img(src="img/welcome-img-big.jpg", alt="")
				div.welcome__image-small
					img(src="img/welcome-img-small.jpg", alt="")
			div.welcome__card
				div.welcome__card-body
					div
						img.welcome__card-icon(src="img/scissors-comb.png", alt="")
					div
						h2.welcome__card-title Welcome
					div
						h5.welcome__card-subtitle The barber is an amazing barbershop located in the New York
					div
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.
					div.welcome__card-button
						div
							a(href="#") View all
			div.welcome__circle.paroller-item
			div.welcome__waves.paroller-item
			div.welcome__dots-group.paroller-item
		//- WELCOME

		//- OUR SERVICES
		section.our-services
			div.our-services__container
				div.our-services__card
					div.our-services__card-body
						div
							h2.our-services__card-title Our services
						div
							h5.our-services__card-subtitle The barber is an amazing barbershop located in the New York
				div.our-services__block
					div.our-services__block-item
						div
							img(src="img/scissors.png", alt="")
						div
							h5 Haircutting
						div
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						div.our-services__block-btn
							a(href="#")
					div.our-services__block-item
						div
							img(src="img/clipper.png", alt="")
						div
							h5 Trimming
						div
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						div.our-services__block-btn
							a(href="#")
					div.our-services__block-item
						div
							img(src="img/razor.png", alt="")
						div
							h5 Shaving
						div
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						div.our-services__block-btn
							a(href="#")
			div.our-services__circle.paroller-item
		section.prices
			div.prices__card
				div.prices__card-body
					div
						img.prices__card-icon(src="img/scissors-2.png", alt="")
					div
						h2.prices__card-title The prices
					div
						h5.prices__card-subtitle We offer a range of services that celebratetraditional barbershop techniques. 
					div
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.
					div.prices__card-button
						div
							a(href="#") View all
					div.prices__card-img
						img(src="img/cup-razor.png", alt="")
			div.prices__image
				img(src="img/prices-img-big.jpg", alt="")
				div.prices__image-small
					img(src="img/prices-img-small.jpg", alt="")
			div.prices__rhomb.paroller-item
			div.prices__dots-group.paroller-item
			div.prices__waves.paroller-item
		section.products
			div.products__container
				div.products__block
					div.products__item
						img(src="img/product-1.jpg", alt="")
					div.products__item
						img(src="img/product-2.jpg", alt="")
					div.products__item
						img(src="img/product-3.jpg", alt="")
					div.products__item
						img(src="img/product-4.jpg", alt="")
					div.products__item
						img(src="img/product-5.jpg", alt="")
					div.products__item
						img(src="img/product-6.jpg", alt="")
			div.products__dots-group.paroller-item
			div.products__rhomb.paroller-item
		section.contact
			div.contact__container
				div.contact__title
					h2 Contact
				div.contact__form
					div.contact__form-fields
						div
							div.contact__form-field
								input(type="text", placeholder="Name")
							div.contact__form-field
								input(type="email", placeholder="E-mail")
						div
							div.contact__form-field
								textarea(name="", cols="30", rows="6", placeholder="Message")
					div.contact__form-btn
						div
							button Send
			div.contact__waves.paroller-item
			div.contact__dots-group.paroller-item
				
		script(src="js/bundle.js")

